.forecast {
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
}

.forecast .forecast-heading {
	font-size: 65px;
	color: #333333;
	font-weight: 100;
}

.forecast > .days-items {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: flex-start;
}

.forecast > .days-items > .day {
	margin: 35px;
	cursor: pointer;
}

.forecast > .days-items > .day > figcaption {
	font-size: 30px;
	margin: 0.83em;
	font-weight: 100;
}

.forecast > .days-items .weather-icon {
	height: 130px;
}
