.not-found {
	width: 100%;
	height: 100vh;
	background: url('/img/pattern.svg');
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.not-found > .wrapper {
	background: rgba(255, 255, 255, 0.65);
	padding: 6%;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.not-found > .wrapper > h1 {
	text-align: center;
	color: #272727;
	font-weight: 100;
	font-size: 45px;
}

.not-found > .wrapper > .button {
	background: #272727;
	color: white;
	border: none;
	font-weight: 100;
}

.not-found > .wrapper > .button:hover {
	background: white;
	color: #272727;
}
