.not-found {
	width: 100%;
	height: 100vh;
	background: url('../img/pattern.svg');
	display: flex;
	justify-content: center;
	align-items: center;
}

.not-found > .wrapper {
	background: rgba(255, 255, 255, 0.65);
	padding: 6%;
	border-radius: 6px;
}

.not-found > .wrapper > h1 {
	text-align: center;
	color: #272727;
	font-weight: 100;
	font-size: 45px;
}